@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Henny Penny', cursive;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.food-img {
  height: 150px;
}

.image-display {
  background-color: rgba(67, 51, 51, 0.625);
  margin: 15px;
  border: ridge 3px rgba(67, 51, 51, 0.625);
}

.name-input {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

input {
  width: 200px;
  height: 30px;
  border-bottom: 1px solid black;
  background-color: rgba(127, 255, 212, 0.573);
}

.order-name1 {
  display: flex;
  flex-direction: column;
  color: rgb(0, 255, 208);
  background-color: rgba(67, 51, 51, 0.625);
  border: ridge 3px rgba(67, 51, 51, 0.625);
  width: 40%;
  margin: 15px;
}

select {
  margin: 20px;
  width: 200px;
  font-size: 20px;
  font-family: 'Henny Penny', cursive;
  border-bottom: 1px solid black;
  background-color: rgba(127, 255, 212, 0.573);
  text-align: center;
}

img {
  margin-right: 80px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 180px;
  font-family: 'Henny Penny', cursive;
  font-size: 20px;
  border-bottom: 1px solid black;
  background-color: rgba(127, 255, 212, 0.573);
}

button:hover {
  background-color: rgba(255, 0, 255, 0.667);
}

label {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 30px;
  align-items: center;
}

.timmy {
  width: 100px;
}

.timmydiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(130, 60, 19);
  border-bottom: 2px solid black;
  width: 100%;
}

h1 {
  padding: 10px;
  color: rgb(218, 136, 48);
}

.order-form {
  background-color: rgba(67, 51, 51, 0.625);
  border: ridge 3px rgba(67, 51, 51, 0.625);
}

.instructions-list {
  background-color: rgba(67, 51, 51, 0.625);
  border: ridge 3px rgba(67, 51, 51, 0.625);
  margin: 15px;
  color: magenta;
}

li {
  font-size: 30px;
  list-style: none;
}