@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Henny Penny', cursive;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.food-img {
  height: 150px;
}

.name-input {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

input {
  width: 200px;
  height: 30px;
}

.order-name1 {
  display: flex;
  flex-direction: column;
  color: rgb(0, 255, 208);
  background-color: rgba(128, 128, 128, 0.701);
  width: 40%;
}

select {
  margin: 20px;
  width: 200px;
  font-size: 20px;
  font-family: 'Henny Penny', cursive;
}

img {
  margin-right: 80px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 180px;
  font-family: 'Henny Penny', cursive;
  font-size: 20px;
}

label {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 30px;
  align-items: center;
}

.timmy {
  width: 100px;
}

.timmydiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(130, 60, 19);
  border-bottom: 2px solid black;
  width: 100%;
}

h1 {
  padding: 10px;
  color: rgb(218, 136, 48);
}